Importing required packages

In [1]:
import pandas as pd
import preprocessing as pps

Read the data from the CSV file

In [2]:
df = pd.read_csv('data/Train.csv')

One function to rule them all

In [ ]:
#df = pps.clean_data(df) # When you run it you do not need to run the rest below.
#df.head(10)

Added 'AC_TYPE' column based on 'AC' column.
Filtering DataFrame for flights with status 'ATA'.
Converted 'STA' and 'STD' columns to datetime format.
Calculated flight duration in minutes and added 'flight_duration' column.
Added 'month' column with abbreviated month names.
Added 'dayparts' column based on 'STD' hour.
Dropped unnecessary columns: ['ID', 'DATOP', 'FLTID', 'AC']
Data cleaning completed.

,DEPSTN,ARRSTN,STD,STA,STATUS,AC_TYPE,target,flight_duration,month,dayparts
0,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12:55:00,ATA,32A,260.0,145.0,Jan,Morning
1,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16:55:00,ATA,31B,20.0,110.0,Jan,Afternoon
2,TUN,IST,2016-01-16 04:10:00,2016-01-16 06:45:00,ATA,32A,0.0,155.0,Jan,Night
3,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17:00:00,ATA,736,0.0,170.0,Jan,Afternoon
4,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15:50:00,ATA,320,22.0,80.0,Jan,Afternoon
5,TLS,TUN,2016-01-17 16:20:00,2016-01-17 18:15:00,ATA,736,53.0,115.0,Jan,Afternoon
6,TUN,BCN,2016-01-18 07:15:00,2016-01-18 09:00:00,ATA,32A,10.0,105.0,Jan,Early Morning
7,TUN,ORY,2016-01-18 07:35:00,2016-01-18 09:55:00,ATA,32A,15.0,140.0,Jan,Early Morning
8,TUN,FCO,2016-01-18 07:40:00,2016-01-18 09:00:00,ATA,32A,16.0,80.0,Jan,Early Morning
9,TUN,NCE,2016-01-18 07:45:00,2016-01-18 09:15:00,ATA,31A,21.0,90.0,Jan,Early Morning

Overviev of the data

In [3]:
df.head(10)
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107833 entries, 0 to 107832
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      107833 non-null  object
 1   DATOP   107833 non-null  object
 2   FLTID   107833 non-null  object
 3   DEPSTN  107833 non-null  object
 4   ARRSTN  107833 non-null  object
 5   STD     107833 non-null  object
 6   STA     107833 non-null  object
 7   STATUS  107833 non-null  object
 8   AC      107833 non-null  object
 9   target  107833 non-null  float64
dtypes: float64(1), object(9)
memory usage: 8.2+ MB

In [4]:
# add aircraft type column
df = pps.add_ac_type(df) 
df.head(10)
df.AC_TYPE.value_counts()

Added 'AC_TYPE' column based on 'AC' column.

AC_TYPE
32A    32767
320    27743
736    20695
31B     6967
AT7     5255
332     4905
CR9     3704
31A     3487
733      565
734      561
738      367
343      314
319      278
345      214
M87        6
321        5
Name: count, dtype: int64

In [5]:
#Filter only flight status ATA
df = pps.filter_flight_status(df)
df.STATUS.value_counts()

Filtering DataFrame for flights with status 'ATA'.

STATUS
ATA    93679
Name: count, dtype: int64

In [6]:
#convert STA and STD date (object) to datetime
# We need them for the future calculations
df = pps.convert_to_datetime(df)
df.STA.info()
df.STD.info()

Converted 'STA' and 'STD' columns to datetime format.
<class 'pandas.core.series.Series'>
RangeIndex: 93679 entries, 0 to 93678
Series name: STA
Non-Null Count  Dtype
--------------  -----
93679 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 732.0 KB
<class 'pandas.core.series.Series'>
RangeIndex: 93679 entries, 0 to 93678
Series name: STD
Non-Null Count  Dtype
--------------  -----
93679 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 732.0 KB

In [7]:
# add flight duration column
df = pps.add_flight_duration(df)
df.flight_duration.describe()

Calculated flight duration in minutes and added 'flight_duration' column.

count    93679.000000
mean       140.234951
std         63.349666
min         15.000000
25%        100.000000
50%        140.000000
75%        165.000000
max        535.000000
Name: flight_duration, dtype: float64

In [8]:
# add month (Jan, Feb, Wed ..) and daypart (Early Morning, Morning, Afternoon, Evening, Night) columns
df = pps.add_month(df)
df = pps.add_dayparts(df)
df.head(10)

Added 'month' column with abbreviated month names.
Added 'dayparts' column based on 'STD' hour.

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,AC_TYPE,target,flight_duration,month,dayparts
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12:55:00,ATA,TU 32AIMN,32A,260.0,145.0,Jan,Morning
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16:55:00,ATA,TU 31BIMO,31B,20.0,110.0,Jan,Afternoon
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06:45:00,ATA,TU 32AIMN,32A,0.0,155.0,Jan,Night
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17:00:00,ATA,TU 736IOK,736,0.0,170.0,Jan,Afternoon
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15:50:00,ATA,TU 320IMU,320,22.0,80.0,Jan,Afternoon
5,train_id_5,2016-01-17,TU 0283,TLS,TUN,2016-01-17 16:20:00,2016-01-17 18:15:00,ATA,TU 736IOP,736,53.0,115.0,Jan,Afternoon
6,train_id_6,2016-01-18,TU 0514,TUN,BCN,2016-01-18 07:15:00,2016-01-18 09:00:00,ATA,TU 32AIMH,32A,10.0,105.0,Jan,Early Morning
7,train_id_7,2016-01-18,TU 0716,TUN,ORY,2016-01-18 07:35:00,2016-01-18 09:55:00,ATA,TU 32AIMI,32A,15.0,140.0,Jan,Early Morning
8,train_id_8,2016-01-18,TU 0752,TUN,FCO,2016-01-18 07:40:00,2016-01-18 09:00:00,ATA,TU 32AIMC,32A,16.0,80.0,Jan,Early Morning
9,train_id_9,2016-01-18,TU 0996,TUN,NCE,2016-01-18 07:45:00,2016-01-18 09:15:00,ATA,TU 31AIMK,31A,21.0,90.0,Jan,Early Morning

In [10]:
columns_to_drop = ['ID', 'DATOP', 'FLTID', 'AC'] # I am not really sure which columns to drop, but these are not needed for the analysis
df = df.drop(columns=columns_to_drop)
df.head(10)

,DEPSTN,ARRSTN,STD,STA,STATUS,AC_TYPE,target,flight_duration,month,dayparts
0,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12:55:00,ATA,32A,260.0,145.0,Jan,Morning
1,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16:55:00,ATA,31B,20.0,110.0,Jan,Afternoon
2,TUN,IST,2016-01-16 04:10:00,2016-01-16 06:45:00,ATA,32A,0.0,155.0,Jan,Night
3,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17:00:00,ATA,736,0.0,170.0,Jan,Afternoon
4,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15:50:00,ATA,320,22.0,80.0,Jan,Afternoon
5,TLS,TUN,2016-01-17 16:20:00,2016-01-17 18:15:00,ATA,736,53.0,115.0,Jan,Afternoon
6,TUN,BCN,2016-01-18 07:15:00,2016-01-18 09:00:00,ATA,32A,10.0,105.0,Jan,Early Morning
7,TUN,ORY,2016-01-18 07:35:00,2016-01-18 09:55:00,ATA,32A,15.0,140.0,Jan,Early Morning
8,TUN,FCO,2016-01-18 07:40:00,2016-01-18 09:00:00,ATA,32A,16.0,80.0,Jan,Early Morning
9,TUN,NCE,2016-01-18 07:45:00,2016-01-18 09:15:00,ATA,31A,21.0,90.0,Jan,Early Morning